.bodyHome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chatHeader {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chatWindow {
  height: 500px;
  overflow-y: scroll;
  background-image: url("../public/bgImageChat.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.boxTextUserPrimary {
  background-color: rgb(68, 68, 149);
  padding: 4px;
  border-radius: 6px;
  color: white;
  width: 40%;
  margin-left: auto;
}
.boxTextUserSecondary {
  background-color: rgb(66, 164, 94);
  padding: 4px;
  border-radius: 6px;
  color: white;
  width: 40%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.listMessage {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
}

.chatForm {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.messageInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.sendButton {
  border: none;
  outline: none;
  background-color: #333;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
